@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;

  color: black;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.cards {
  line-height: 1.3rem;
  font-weight: normal;
  list-style-type: none;
}

.card-img {
  margin-bottom: 1.3rem;
}

.card-img img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

.card-body h2 {
  font-size: 1.5rem;
  margin: 1rem 0 0;
  font-weight: normal;
}

.card-body p {
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}

.img-flex {
  width: 100%;
  display: block;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.4;
  }

  .cards {
    display: inline-block;
  }

  .card-img img {
    display: block;
    margin: 0 auto;
    width: 12%;
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  header {
    display: flex;
  }

  .cards {
    display: inline-block;
    display: flex;
    margin: 0 auto;
  }

  .card-img {
    text-align: center;
  }

  .card-img img {
    display: block;
    margin: 0 auto;
  }

  .card-body {
    display: block;
    padding: 0;
  }

  .card {
    display: inline-block;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .cards {
    display: flex;
  }

  .card-img {
    display: flex;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .cards {
    text-align: left;
    display: flex;
  }

  .card-img img {
    display: inline-block;
    width: 100%;
  }

  .card-img {
    display: flex;
    text-align: center;
  }

}
